# apps/api
PORT=4000
MONGO_URI=mongodb://localhost:27017/handshake
PINATA_JWT=
SESSION_SECRET=
CLIENT_URL=http://localhost:3000
NODE_ENV=development

# apps/web
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
